@font-face {
    font-family: 'fff-forward';
    src: url('assets/fff-forward.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(100, 100, 100);
}

canvas {
    display: block;
}

h1, h3, h4 {
    font-family: fff-forward;
}

h3 {
    margin: 5px;
}

.box {
    visibility: hidden;
    padding: 5px;
    line-height: 30px;
    border: 3px solid black;
}

#settings {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(150, 150, 150);
    font-family: fff-forward;
}

input, button {
    padding: 3px;
    margin: 3px;
    font-size: 15pt;
}

#level {
    width: 40px;
}

#newGame {
    border: none;
}

.box {
    visibility: hidden;
    padding: 5px;
    line-height: 30px;
    border: 3px solid black;
}

#level {
    width: 40px;
}

hr {
    border: 2px solid black;
}

#tutorial {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 70%;
    background-color: inherit;
    top: 70px;
    height: 75%;
    overflow-y: scroll;
}

#tutorial p {
    padding-left: 15px;
    padding-right: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.gifContainer {
    margin: 5px;
}
.gifContainer p {
    margin: 0;
    line-height: 15px;
}

.gif {
    width: 250px;
}

#changelog {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 70%;
    background-color: inherit;
    top: 70px;
    height: 75%;
    overflow-y: scroll;
    line-height: 14px;
}
