@font-face {
    font-family: 'fff-forward';
    src: url('fff-forward.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(100, 100, 100);
}

canvas {
    display: block;
}

h1, h4 {
    font-family: fff-forward;
}

.box {
    visibility: hidden;
    padding: 5px;
    line-height: 30px;
    border: 3px solid black;
}

#level {
    width: 40px;
}

#newGame {
    border: none;
}

.box {
    visibility: hidden;
    padding: 5px;
    line-height: 30px;
    border: 3px solid black;
}

#level {
    width: 40px;
}
